.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: min(56.25%, 731px);
  max-width: 1300px;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1300px;
  max-height: 731px;
}
