ul {
  overflow: scroll;
  max-height: 731px;
}

li {
  list-style: none;
  max-width: 450px;
}

.linkCard {
  background-color: #18181b;
  color: #fff;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.linkCard p {
  opacity: 0.5;
}

.linkCard h3 {
  font-weight: 600;
}

.linkCard:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 0.1s ease-out;
  white-space: normal;
}

@keyframes slide-up-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
