ul {
  overflow: scroll;
  max-height: 731px;
}

li {
  list-style: none;
  max-width: 450px;
}

.linkCard {
  background-color: #e9f1f7;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.linkCard:hover {
  transform: scale(1.02);
  cursor: pointer;
  white-space: normal;
  transition: height 0.25s ease-in;
}
