<header>
  <h1 class="header-title">Video Player</h1>
  <SearchBar (onPlay)="onVideoSubmit($event)"></SearchBar>
</header>
<div class="container">
  <History
    [ngStyle]="{ display: 'contents' }"
    *ngIf="!showBookmarks"
    [history]="history"
    (linkClick)="linkClickHandler($event)"
  ></History>
  <Bookmarks
    [ngStyle]="{ display: 'contents' }"
    *ngIf="showBookmarks"
    [bookmarks]="bookmarks"
    (linkClick)="linkClickHandler($event)"
  ></Bookmarks>
  <VideoView [video]="video" [ngStyle]="{ display: 'contents' }"></VideoView>
</div>
<div class="container actions">
  <button
    mat-raised-button
    color="{{ isBookmarked() ? 'warn' : 'primary' }}"
    (click)="addToBookmarks()"
    [disabled]="!video.embed_url"
  >
    {{ isBookmarked() ? 'remove bookmark' : 'add to bookmarks' }}
  </button>

  <button
    mat-raised-button
    color="primary"
    matBadge="{{ !showBookmarks ? bookmarks.length : '' }}"
    matBadgeColor="warn"
    (click)="toggleBookmarks()"
  >
    {{ showBookmarks ? 'show history' : 'show bookmarks' }}
  </button>
</div>
