/* :root {
  --primary:#A100C9;
  --dark:#131B23;
  --light: #E9F1F7;
  --background: #FDFDFD;
} */

header {
  background-color: #131b23;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header-title {
  color: #e9f1f7;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 2rem 3rem 0 3rem;
}

.actions {
  justify-content: flex-end;
}

.actions button + button {
  margin-left: 1.5rem;
}
